.documentManagement {
	width: 100%;
	/* height: calc(100% - 80px); */
	height: 100%;
	display: flex;
	& > .aside {
		width: 15%;
		font-weight: bold;
		height: 100%;
		background-color: white;
		border-radius: 10px;
		padding-top: 20px;
		& > .everItem {
			font-size: 16px;
			color: black;
		}
	}
	& > .main {
		flex: 1;
	}
}
